<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://simonbusborg.github.io/polaris/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>D0Pr3zqX74d8fY5dTAuyy53V8Wig1Rlu7fH1ecOmIrE=</string>
	<key>SUEnableInstallerLauncherService</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.weareheavy.polaris</string>
	<key>CFBundleName</key>
	<string>Polaris</string>
	<key>CFBundleDisplayName</key>
	<string>Polaris</string>
	<key>CFBundleExecutable</key>
	<string>Polaris</string>
	<key>CFBundleIconFile</key>
	<string>Polaris</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.0</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© Simon Busborg. Not affiliated with Polestar.</string>
</dict>
</plist>
